{% extends 'base.html' %}

{% set page='Add book' %}

{% block content %}
    <div class="card card-body col-lg-5 m-auto">
        <h1>Add book</h1>
        <form method="post" id="add_book">
            <div class="form-group">
                <label for="ISBN">ISBN</label>
                <input class="form-control" type="text" name="ISBN" id="ISBN" required="required" pattern="[a-zA-Z0-9_]{0,20}" title="20 位以内的大小写字母或数字" autocomplete="ISBN">
            </div>
            <div class="form-group">
                <label for="title">title</label>
                <input class="form-control" type="text" name="title" id="title" required="required" minlength="0" maxlength="60" title="0-60 位" autocomplete="title">
            </div>
            <div class="form-group">
                <label for="author">author</label>
                <input class="form-control" type="text" name="author" id="author" required="required" minlength="0" maxlength="60" title="0-60 位" autocomplete="author">
            </div>
            <div class="form-group">
                <label for="keywords">keywords</label>
                <input class="form-control" type="text" name="keywords" id="keywords" required="required" minlength="0" maxlength="60" title="0-60 位" autocomplete="keywords">
            </div>
            <div class="form-group">
                <label for="price">price</label>
                <input class="form-control" type="number" step="0.01" name="price" id="price" required="required" title="price" autocomplete="price">
            </div>
            <br>
            <input class="btn btn-block btn-primary" type="submit" value="Add book">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('.static', filename = 'js/add-book.js') }}"></script>
{% endblock %}
