{% extends 'base.html' %}

{% set page='Manage book' %}

{% block content %}
    {% if is_Admin %}
        <div class="container d-flex justify-content-around">
            <div class="card card-body col-lg-5 ">
                <h1>Modify book</h1>
                <form method="post" action="/book/{{ book.ISBN }}/modify" id="modify_book">
                    <div class="form-group">
                        <label for="ISBN">ISBN</label>
                        <input class="form-control" type="text" name="ISBN" id="ISBN" required="required" minlength="0"
                               maxlength="20" title="20 位以内" placeholder="ISBN" value="{{ book.ISBN }}">
                    </div>
                    <div class="form-group">
                        <label for="title">title</label>
                        <input class="form-control" type="text" name="title" id="title" required="required"
                               minlength="0" maxlength="60" title="0-60 位" placeholder="title"
                               value="{{ book.title }}">
                    </div>
                    <div class="form-group">
                        <label for="author">author</label>
                        <input class="form-control" type="text" name="author" id="author" required="required"
                               minlength="0" maxlength="60" title="0-60 位" placeholder="author"
                               value="{{ book.author }}">
                    </div>
                    <div class="form-group">
                        <label for="keywords">keywords</label>
                        <input class="form-control" type="text" name="keywords" id="keywords" required="required"
                               minlength="0" maxlength="60" title="0-60 位" placeholder="keywords"
                               value="{{ book.keywords }}">
                    </div>
                    <div class="form-group">
                        <label for="price">price</label>
                        <input class="form-control" type="number" step="0.01" name="price" id="price"
                               required="required" title="price" placeholder="price" value="{{ book.price / 100 }}">
                    </div>
                    <br>
                    <input class="btn btn-block btn-primary" type="submit" value="Modify book">
                </form>
            </div>
            <div class="card card-body col-lg-5">
                <h1>Import</h1>
                <h3>Current Inventory: <code>{{ book.quantity }}</code></h3>
                <form method="post" action="/book/{{ book.ISBN }}/import" id="import_book">
                    <div class="form-group">
                        <label for="cost">Total Cost</label>
                        <input class="form-control" type="number" step="0.01" name="cost" id="cost" required="required"
                               title="cost" placeholder="cost">
                    </div>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                        <input class="form-control" type="number" step="1" name="quantity" id="quantity"
                               required="required" title="quantity" placeholder="quantity">
                    </div>
                    <br>
                    <input class="btn btn-block btn-primary" type="submit" value="Import">
                </form>
            </div>
        </div>
    {% endif %}
    <div class="card card-body">
        <h1>Buy</h1>
        <table class="table table-striped table-bordered table-hover">
            <thead>
            <tr>
                <th>ISBN</th>
                <th>Title</th>
                <th>Author</th>
                <th>Keywords</th>
                <th>Price</th>
                <th>Quantity</th>
            </tr>
            </thead>
            <tr>
                <td>{{ book.ISBN }}</td>
                <td>{{ book.title }}</td>
                <td>{{ book.author }}</td>
                <td>{{ book.keywords }}</td>
                <td>{{ book.price / 100 }}</td>
                <td>{{ book.quantity }}</td>
            </tr>
        </table>
        <form method="post" action="/book/{{ book.ISBN }}/buy" id="buy_book">
            <div class="form-group">
                <label for="quantity">Quantity</label>
                <input class="form-control" type="number" step="1" name="quantity" id="quantity" required="required"
                       title="quantity" placeholder="quantity" value="1">
            </div>
            <br>
            <input class="btn btn-block btn-primary" type="submit" value="Buy!">
        </form>
    </div>
{% endblock %}

{% block script %}
    <script>
        var result = {};
        $(function () {
            var url = window.location.href;
            url = url.substr(url.indexOf("?") + 1);
            var queryString = url || location.search.substring(1),
                re = /([^&=]+)=([^&]*)/g,
                m;
            while (m = re.exec(queryString))
                result[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
        });

        $(function () {
            $("#buy_book").ajaxForm(function (ret_json) {
                if (ret_json['e'] < 0)
                    swal("Error " + ret_json['e'], ret_json['msg'], "error");
                else {
                    swal("Success", "The cost is $" + ret_json['cost'], "success", {
                        buttons: {
                            confirm: "Pay"
                        },
                    }).then(() => {
                        window.location.reload();
                    });
                }
            });
            {% if is_Admin %}
                $("#modify_book").ajaxForm(function (ret_json) {
                    if (ret_json['e'] < 0)
                        swal("Error " + ret_json['e'], ret_json['msg'], "error");
                    else {
                        swal("Success", ret_json['msg'], "success");
                        setTimeout(function () {
                            window.location.replace("/book/" + $("#ISBN").val());
                        }, 500);
                    }
                });
                $("#import_book").ajaxForm(function (ret_json) {
                    if (ret_json['e'] < 0)
                        swal("Error " + ret_json['e'], ret_json['msg'], "error");
                    else {
                        swal("Success", ret_json['msg'], "success");
                        setTimeout(function () {
                            window.location.reload();
                        }, 500);
                    }
                });
            {% endif %}
        });
    </script>
{% endblock %}
